# Dependencies
node_modules/
.pnpm-store/
.npm
.yarn

# Build output
dist/
.output/
.astro/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem 